!!!
%html{:lang => "en-US"}
  %head
    %meta{:charset => "UTF-8"}
    %title Scaffy framework
    = stylesheet_link_tag "futurico-dark"
    = javascript_include_tag "application"
  %body
    %img.background-light{:src => "/assets/futurico/background-light.png", :alt => ""}

    .container
      = render :partial => "static/futurico/header"

      .content
        .wrapper.clearfix
          .col1of4
            .pbl
              = render :partial => "static/futurico/text_inputs"
              = render :partial => "static/futurico/selects"
            .pbl
              = render :partial => "static/futurico/buttons"
            .pbl
              = render :partial => "static/futurico/scrollboxes"
            .mbl.pbl
              = render :partial => "static/futurico/checkboxes"
            .mbl.clearfix
              =render :partial => "static/futurico/equalizer"

          .futurico-content.last-col
            .mbl.pbl
              = render :partial => "static/futurico/tabbox"
            .mbl.pbl.clearfix
              .col1of6
                = render :partial => "static/futurico/crossbar"
              .col1of3
                = render :partial => "static/futurico/currently-playing"
              .left
                .mll.pll
                  = render :partial => "static/futurico/commutators"
              .last-col
                .mll.pll
                  = render :partial => "static/futurico/user-slug"

            .mbl.pbl.clearfix
              =render :partial => "static/futurico/stickers"
              .col1of3
                .mbl.prl.mrl
                  =render :partial => "static/futurico/progressbar"
              .last-col
                .mbm
                  =render :partial => "static/futurico/starbar"

            .mbl.pbl.clearfix
              .col2of5
                =render :partial => "static/futurico/login"
              .last-col
                .mll.pll
                  =render :partial => "static/futurico/datepicker"

            .mbl.pbl.clearfix
              .left.mrl.prl
                =render :partial => "static/futurico/pagination"
              .left.mrl.prl
                =render :partial => "static/futurico/comments"

            .mbl.pbl.clearfix
              .left.mrl.prl
                =render :partial => "static/futurico/slideshow"
              .left.mll.pll
                =render :partial => "static/futurico/circle-banner"

            .mbl.pbl.clearfix
              =render :partial => "static/futurico/appreciate"

