.tabbox
  %ul.tabbox-tabs
    %li.active Option 1
    %li Option 2

  -# Option 1 tabbox
  .tabbox-stuff.clearfix
    %ul.tabbox-navigation
      %li.archive
        %a{:href => "#tabbox-archive"}
      %li.messages
        %a{:href => "#tabbox-messages"}
      %li.cloud
        %a{:href => "#tabbox-cloud"}

    .last-col
      .tabbox-content
        #tabbox-archive
          .heading
            %h2.heading-col
              Heading 1
            %h3.heading-col
              Heading 2
            %h4.heading-col
              Heading 3
              %span.status-message.negative No connection
            .preloader

          .clearfix
            .col2of5.mrl.prl
              = render :partial => "static/futurico/dataset"
            .col2of5
              = render :partial => "static/futurico/dataset"

        #tabbox-messages
          .heading
            %h2
              Inbox messages
              %span.status-message.positive 2 new

          .clearfix
            .col2of5.mrl.prl
              = render :partial => "static/futurico/dataset"
            .col2of5
              = render :partial => "static/futurico/dataset"

        #tabbox-cloud
          .heading
            %h2
              Files inside the cloud
              %span.status-message Total: 91,819,826

          .clearfix
            .col2of5.mrl.prl
              = render :partial => "static/futurico/dataset"
            .col2of5
              = render :partial => "static/futurico/dataset"

  -# Option 2 tabbox
  .tabbox-stuff.clearfix
    %ul.tabbox-navigation
      %li.archive
        %a{:href => "#tabbox-archive-2"}
      %li.messages
        %a{:href => "#tabbox-messages-2"}

    .last-col
      .tabbox-content
        #tabbox-archive-2
          .heading
            %h2
              Archived data
              %span.status-message.negative No connection
            .preloader

          .clearfix
            .col2of5.mrl.prl
              = render :partial => "static/futurico/dataset"
            .col2of5
              = render :partial => "static/futurico/dataset"

        #tabbox-messages-2
          .heading
            %h2
              Inbox messages
              %span.status-message.positive 2 new

          .clearfix
            .col2of5.mrl.prl
              = render :partial => "static/futurico/dataset"
            .col2of5
              = render :partial => "static/futurico/dataset"

